@tailwind base;
@tailwind components;
@tailwind utilities;

:root { font-family: 'Plus Jakarta Sans', system-ui, sans-serif; }
body { margin: 0; }
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }